/* Universal Styles */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
}

main {
  background-color: #FFFFFF;
}

h2 {
  text-align: center;
}

.mobile {
  display: none;
}

.container {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

/* JavaScript Scroll Animation */

hr {
  margin: auto;
  height: .25rem;
  max-width: 85%;
  background: #686EF2;
  border: none;
  transition: .3s ease-in-out;
}

/* Header and Nav */

header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.95);
  box-shadow: 0 1px 9px -3px rgb(0 0 0 / 40%);
  z-index: 10;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header h1 {
  text-decoration: none;
  transition: transform 0.4s;
}

header h1:hover {
  transform: scale(1.08);
}

header a {
  color: black;
  text-decoration: none;
  transition: color 0.4s;
}

header a:hover {
  color: #686EF2;
}
    
nav ul {
  display: flex;
  list-style-type: none;
  align-items: center;
}

nav li {
  padding: 0 .5rem;
  transition: transform 0.4s;
}

nav li:hover {
  transform: scale(1.08);
}

nav .last-link {
  padding-right: 0;
}   
    
/* About Me */

#about {
  background-color: #FFFFFF;
  scroll-margin-top: 3.5rem;
}

.about-container {
  display: flex; 
  padding-top: 5rem;
  padding-bottom: 2rem;
}

.about-text {
  padding: 2rem;
}

.about-container h2 {
  text-align: initial;
}

.about-conatiner hr {
  margin-bottom: 1rem;
}

.intro {
  margin-top: 1.5rem;
}

.about-container p {
  margin: 0 0 .5rem 0;
}

.profile {
  width: 300px;
  max-height: 300px;
  border-radius: 50%;
  padding: 2rem;
}

/* Projects */

#projects {
  background-color:#BEA3EB;
  scroll-margin-top: 3.5rem;
}

.project-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.project {
  background-color: white;
  width: 24rem;
  height: 18rem;
  box-shadow: 0 0 20px rgb(0 0 0 / 20%);
  border-radius: .5rem;
  display: flex;
  flex-flow: column;
  padding: 1.5rem;
  margin: 1.5rem;
}

.details h3 {
  margin: 0 0 1rem 0;
  text-align: center;
}

.nav-projects {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: inherit;
}

.nav-projects a {
  width: 7.5rem;
  background-color: #686EF2;
  border: none;
  border-radius: 10px;
  color: #FFFFFF;
  justify-content: center;
  text-decoration: none;
  display: inline-block;
  padding: 1rem;
  margin: 1rem;
  transition: transform 0.4s;
}

.nav-projects a:hover {
  transform: scale(1.08);
}

/* Skills */

#skills {
  background-color: #FFFFFF;
  scroll-margin-top: 3.5rem;
}

#skills h3 {
  text-align: center;
  margin: 1.5rem 0;
}

.technical-skills-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 2rem 0;
}

.technical-skills-container .image img {
  transition: transform 0.4s;
  height: 6.25rem;
  width: 6.25rem;
  margin: 1.5rem;
}

.technical-skills-container .image img:hover {
  transform: scale(1.2);
}

.other-skills-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.other-skills-container {
  max-width: 24rem;
  min-height: 18rem;
  background-color: white;
  box-shadow: 0 0 20px rgb(0 0 0 / 20%);
  border-radius: 10px;
  display: flex;
  flex-flow: column;
  padding: 1rem;
  margin: 1.5rem;
  transition: margin 0.4s, padding 0.4s;
}

.other-skills-container ul {
  padding-left: 1rem;
}

/* Education */

#education {
  background-color: #BEA3EB;
  scroll-margin-top: 3.5rem;
}


.education-list-container {
  background-color: white;
  box-shadow: 0 0 20px rgb(0 0 0 / 20%);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1.5rem;
  margin: 1.5rem 16rem;
  transition: margin 0.4s, padding 0.4s;

}

.education-item {
  background-color: white;
  display: flex;
  margin: 1.5rem;
}

.education-item ul {
  padding-left: 1.5rem;
}

.edu-info {
  width: 100%;
  padding: 0 2rem 2rem 2rem;
}

.edu-info-ithaca {
  width: 100%;
  padding: 0 2rem;
}

.edu-info h3 {
  padding-bottom: .5rem;
}

.edu-info h4 {
  padding-bottom: .5rem;
}

.edu-info p {
  padding-bottom: .5rem;
}

.education-container img {
  height: 100px;
  width: auto;
}

#codecademy {
  border-bottom: groove 4px #686EF2;
}

#google {
  border-bottom: groove 4px #686EF2;
}

#ocu {
  border-bottom: groove 4px #686EF2;
}

/* Resume */

#resume {
  background-color: #FFFFFF;
  scroll-margin-top: 3.5rem;
}

#resume p {
  text-align: center;
}

.contact-info-p {
  margin-top: 1.5rem;
}

.contact-info-p p {
  margin: 0 0 .5rem 0;
}

.contact-container a {
  color: #686EF2;
  text-decoration: none;
  transition: color 0.4s;
}

.contact-container a:hover {
  color: #412FF5;
}

.contact-info-container {
  text-align: center;
}

.contact-info-container a {
  width: min-content;
  display: inline-block;
  transition: transform 1s, color 0.4s;
  font-weight: bold;
  text-decoration: none;
  color: black;
}

.contact-info-container a:hover {
  transform: scale(1.08);
  color: #686EF2;
}

.contact-info-container .image {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0;
}

.contact-info-container .image img {
  transition: transform 0.4s;
  height: 50px;
  width: auto;
  margin: 20px;
}

.contact-info-container .image img:hover {
  transform: scale(1.2);
}
    
/* Smaller Screens */

@media only screen and (max-width: 337px) {

  .project {
    height: 26rem;
  }

  .nav-projects {
    flex-direction: column;
  }

  .technical-skills-container {
    padding: 0;
    margin: 0;
  }


}

@media only screen and (min-width: 338px) and (max-width: 435px) {

  .project {
    height: 24rem;
  }

  .nav-projects {
    flex-direction: column;
  }

  .technical-skills-container {
    padding: 0;
    margin: 0;
  }

  .other-skills-container {
    height: 23rem;
    width: 21rem;
  }

}

@media only screen and (max-width: 600px) {

  .education-item {
    flex-wrap: wrap;
    padding: 1.5rem 0;
  }

  .education-container .image {
    margin: 0 auto;
  }

  .edu-info {
    padding: 0;
    margin: 0;
  }

  .edu-info h3 {
    text-align: center;
  }

  .edu-info h4 {
    text-align: center;
  }


  .edu-info p {
    text-align: center;
  }

}

@media only screen and (max-width: 844px) {
  .desktop {
    display: none;
  }

  .technical-skills-container {
    margin: 0 4rem;
  }

  /* Toggle Menu */

  header {
    padding: .5rem;
  }

  header h1:hover {
    transform: none;
  }  

  .mobile {
    display: flex;
    width: 100%;
  }

  .menu {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
    justify-content: space-between;
  }

  .logo {
    order: 1;
    text-align: center;
  }

  .toggle {
      order: 1;
      padding: 0;
  }

  .item {
      order: 3;
      width: 100%;
      text-align: center;
      display: none;
      padding: .5rem;
  }

  .active .item {
      display: block;
  }

  /* About */

  .about-container {
    padding-top: 3.25rem;
    padding-bottom: 0;
    flex-wrap: wrap;
    justify-content: center;
  }

  .about-container h2 {
    text-align: center;
  }

  .education-list-container {
    margin: 1.5rem;
  }

}